@charset "UTF-8";

body {
   background-color: #A4F07F;
}

h1 {
    color: #F0C17F;
}

h2 {
    color: #7FC3F0;
}

h1#tituloprincipal {
    text-align: center;
    color: #F07FED;
}

p {
    color: #86929B;
}

.basico {
    color: aqua;
}

.intermediario {
    color: azure;
}
.avançado {
    font-weight: bold;
    color: black;
}