@charset "UTF-8";

body {
    background: #1D1D1D;
}

header {
    text-align: center;
    color: white;
    font-weight: bolder;
}

main {
    position: relative;
    margin: auto;
    padding: 0px;
    width: 404px;
    text-align: center;
    color: white;
}
main > p {
    margin: 25px;
}

img {
    width: 404px;
}

img#voltar {
    width: 50px;
}