@charset "UTF-8";

body {
    background: #1D1D1D;
}

header {
    text-align: center;
    color: white;
}

header > h1 {
    font-weight: bolder;
}

main{
    position: relative;
    margin: auto;
    padding: 0px;
    width: 404px;
}